@charset "UTF-8";
a:link {
	color: black;
	text-decoration: none;
}
 a:visited {
	color: black;
	text-decoration: none;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMDOHYEON';
    src: url('/resources/font/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	font-size: 14px;
}
h1{
	font-family: 'BMDOHYEON';
	margin : 5% 0 7% 0;
	text-align :center;
	border-bottom : 1px solid gray;
	padding : 0 0 1% 0;
}
h2{
	font-family: 'BMDOHYEON';
	text-align :center;
	padding : 0 0 5% 0;
}
.check-g {
	margin: 5px 0 0 0;
	font-size: 13px;
	color: #0a8a06;
	display: none;
}

.check-r {
	margin: 5px 0 0 0;
	font-size: 13px;
	color: #ff5b5b;
	display: none;
}
.text_fail{
	margin: 5px 0 0 0;
    font-size: 13px;
    color: #ff5b5b;
    display: none;
}
.text_success{
	margin: 5px 0 0 0;
    font-size: 13px;
    color: #0a8a06;
    display: none;
}
.FPW{
	font-family: none;
}
.header-title{
	text-align: center;
}
.click-button{
	background-color: #2ac1bc;
    color: white;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    padding: 5px;
    padding-top: 10px;
}
.submit-button{
	background-color: #2ac1bc;
    color: white;
    font-size: x-large;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    text-align: center;
    width: 50%;
    height: 50px;
    margin-top: 20px;
}
#validationCustom01, #validationCustom02{
   font-family: none;
}
#password{
   font-family: none;
}

.centersection{
	height:100%;
	float:left;
	margin-top: 30px;
}
.leftsection, .rightsection{
	height:100%;
	float:left;
}
.FPW{
	font-family: 'BMDOHYEON';
}
#modalModBtn{
	width: 100%;
    background-color: #2ac1bc;
    color: white;
    margin-top: 20px;
}
.asd{
   width: 40%;
    margin: 3% 30% 5% 30%;
}